<div class="content">
  <header class="header" [class.active-header]="active">
    <nav class="navigation">
      <li *ngFor="let item of list" routerLinkActive="link-active">
        <a [routerLink]=item.src>
        <span class="icon">
          <i [class]=item.icon></i>
        </span>
          <span class="title">{{item.title}}</span>
        </a>
      </li>
    </nav>
    <div class="toggle" (click)="onToggle()"></div>
  </header>

  <main [class.active-main]="!active">
    <ul>
      <li *ngFor="let string of data">{{string}}</li>
    </ul>
    <router-outlet></router-outlet>
  </main>
</div>
